fastapi
uvicorn[standard]
pydantic
swisseph
pyswisseph
timezonefinder
pytz
geopy
geopy[speedups]
httpx<0.25
pytest
pytest-asyncio>=0.21
pyyaml
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
